{% extends 'layout.twig' %}

{% block content %}
    <div class="column content">
        <h1 class="title is-1">Uncharted Worlds Character Generator</h1>

        <p>This is the Uncharted Worlds character generator. It will create a random character for you.</p>
        <p>That character has a unique URL, so you can bookmark it or share it with others.</p>

        <div>
            <a href="{{ route('character_generate') }}" class="button is-primary is-large">Generate!</a>
        </div>

    </div>
{% endblock %}
